public_html/TI/z2/lab02.dtd

<!ELEMENT biblioteka (nazwa, dzial*)>
<!ELEMENT nazwa (#PCDATA)>
<!ELEMENT dzial (nazwadzialu, ksiazka+)>
<!ELEMENT nazwadzialu (#PCDATA)>
<!ELEMENT ksiazka (tytul, autor+, cena)>
<!ELEMENT tytul (#PCDATA)>
<!ELEMENT cena (#PCDATA)>
<!ELEMENT autor (imie, nazwisko+)>
<!ELEMENT imie (#PCDATA)>
<!ELEMENT nazwisko (#PCDATA)>
